/* avd cve page */

.avdlistpage_wrap {

	.listpage_content_wrap {
		
		/*.listpage_content_title {
			font-size: 1.625rem;
			font-weight: $weight-normal;
			margin-bottom: 30px;
		}*/
		.listpage_content {

			.listpage_section_title {
				border-bottom: 2px solid $aq-royal-blue;
				margin-left: -8px;
				padding-left: 8px;
				max-width: 100%;
			}

			.listpage_subsection_title {
				margin-bottom: 0px;
			}

			ul {
				padding-left: 1.4em;
				margin-top: -0.5em;

				li {
					p {
						display: inline;
					}

					/*&.list_more_link {
						padding-left: 0px;
						color: $aq-royal-blue;
						font-weight: $weight-bold;
						font-size: 1rem;
						display: inline-block;
						margin-top: 8px;
						cursor: pointer;

						&:before {
							display: none;
						}

						&:after {
							content: "";
							display: inline-block;
							width: 0; 
							height: 0; 
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
							border-top: 6px solid $aq-royal-blue;
							margin-left: 5px;
							margin-bottom: 2px;
						}
					}*/

					ul {
						margin-top: 0.5em;
					}

					li {
						&:before {
							display: none;
						}
					} //li li
				} //li
			}

			
		}

	}

}
