/* 404 */
.hero_404.avd_hero_wrap {


	.hero.header_wrap .hero-body {
		.header_title_wrap {
			
			padding-top: 100px;
			padding-bottom: 100px;
			
			.page_title {
				color: $aq-royal-blue;
				font-weight: $weight-bold;
				font-size: 4.5rem;
				
			}
			.page_subtitle {
				font-size: 1.75rem;
			}

			.page_cta {
				margin-top: 10px;
			}
		} //header_title_wrap
	} //hero-body


}
