/* avd cve page */
.page-avd-cve {}

.avdcve_wrap {}

.vulnerability_content_wrap {

	.vulnerability_content_title {
		font-size: 1.625rem;
		font-weight: $weight-normal;
		margin-bottom: 30px;
	}

	.vulnerability_content {

		ul {
			padding-left: 1.4em;

			li {
				p {
					display: inline;
				}

				&.list_more_link {
					padding-left: 0px;
					color: $aq-royal-blue;
					font-weight: $weight-bold;
					font-size: 1rem;
					display: inline-block;
					margin-top: 8px;
					cursor: pointer;

					&:before {
						display: none;
					}

					&:after {
						content: "";
						display: inline-block;
						width: 0;
						height: 0;
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
						border-top: 6px solid $aq-royal-blue;
						margin-left: 5px;
						margin-bottom: 2px;
					}
				}
			}
		}


		h3.with_icon {

			//padding-left: 10px;

			&:before {
				content: '';
				display: inline-block;
				position: relative;
				width: 32px;
				height: 32px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-right: 10px;
				margin-bottom: -4px;
			}


			&.weakness:before {
				background-image: url('../images/title_weakness.png');
			}

			&.affected_software:before {
				background-image: url('../images/title_affected_software.png');
			}

			&.mitigations:before {
				background-image: url('../images/title_mitigations.png');
			}

			&.related_patterns:before {
				background-image: url('../images/title_related_patterns.png');
			}

			&.references:before {
				background-image: url('../images/title_references.png');
			}

		}

	}

}


.avdcve_sidebar_wrap {

	.avd_sidebar_widget {
		margin-bottom: $gap;
		color: $aq-dark-abyss;
		@include neo_box_light-bg;
		border-radius: 4px;


		.sidebar_widget_title {
			background-color: rgba($aq-ocean-ash, 0.2);
			color: $aq-dark-abyss;
			font-size: 0.875rem;
			font-weight: $weight-bold;
			padding: 10px 20px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;

		}

		.table.sidebar_links_table {
			font-size: 0.875rem;
			width: 100%;
			background-color: transparent;

			th {
				padding-left: 20px;
			}

			td {
				padding-left: 20px;

				a {
					word-break: break-word;
				}
			}

			//td
		}

		&.avdcve_scores_wrap {
			background-color: #ffffff;
		}

	}
}



.avdcve_scores_cvss {

	background-color: rgba($aq-ocean-ash, 0.1);
	position: relative;
	padding: 30px 20px 10px 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	&:before {
		content: '';
		position: absolute;
		background-color: $aq-ocean-ash;
		height: 8px;
		width: 100%;
		top: 0px;
		left: 0px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.large_score_wrap {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.large_score_name {
			font-size: 1.125rem;
			font-weight: $weight-bold;
			margin-bottom: 20px;
		}

		.large_score_gauge_wrap {
			//border:1px solid red;
			position: relative;
			width: 160px;
			margin-bottom: 80px;

			.large_score_gague {
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				width: 160px;
				height: 160px;
				border-radius: 50%;
				position: absolute;
				//@include neo_box_light-bg;
				box-shadow: 0px 7px 13.02px 0.98px rgba(255, 255, 255, 0.45), 4.95px 4.95px 13.02px 0.98px rgba(0, 0, 0, 0.09);
				background-color: #ffffff;
				top: -90px;
				left: 0px; //160/2-80/2


				.score_gague_content {
					position: relative;

					.score_value {
						font-size: 2.5rem;
						line-height: 2.5rem;
						font-weight: $weight-bold;
					}

					.score_label {
						font-size: 1.3rem;
						line-height: 1.5rem;
						font-weight: $weight-bold;
					}
				}

				//score_gague_content

				.score_bg {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 160px;
					height: 160px;
					background-repeat: no-repeat;
					background-position: 0px 0px;
					background-image: url('../images/gague_sprite.png');
					pointer-events: none;
				}

				//score_bg

			}

			//large_score_gauge

		}

		//large_score_gauge_wrap

		.large_score_source {
			font-size: 0.875rem;
			margin-bottom: 20px;

			.icon_source {
				display: inline-block;
				background-repeat: no-repeat;
				background-position: 0px 0px;
				overflow: hidden;
				text-indent: -9999px;
				margin-left: 4px;

				&.source_nvd {
					background-image: url('../images/source_nvd.png');
					width: 56px;
					height: 14px;
					margin-bottom: -2px;
				}
			}
		}

		//large_score_source


	}

	//large_score_wrap



	.large_score_vector {
		font-size: 1rem;
		opacity: 0.8;
		padding-bottom: 15px;
		word-break: break-word;
	}


	/*&.cvss_0 {
		background-color: rgba($aq-ocean-ash,0.1);
		&:before {background-color: $aq-ocean-ash;}
	}*/

	&.cvss_1,
	&.cvss_2,
	&.cvss_3 {
		background-color: rgba($aq-avd-yellow, 0.1);

		&:before {
			background-color: $aq-avd-yellow;
		}
	}

	&.cvss_4,
	&.cvss_5,
	&.cvss_6 {
		background-color: rgba($aq-avd-orange, 0.1);

		&:before {
			background-color: $aq-avd-orange;
		}
	}

	&.cvss_7,
	&.cvss_8,
	&.cvss_9,
	&.cvss_10 {
		background-color: rgba($aq-avd-red, 0.1);

		&:before {
			background-color: $aq-avd-red;
		}

		.score_gague_content {
			color: $aq-avd-red;
		}
	}


	&.cvss_0 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px 0px;
	}

	&.cvss_1 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px -160px;
	}

	&.cvss_2 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px -320px;
	}

	&.cvss_3 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px -480px;
	}

	&.cvss_4 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px -640px;
	}

	&.cvss_5 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px -800px;
	}

	&.cvss_6 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px -960px;
	}

	&.cvss_7 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px -1120px;
	}

	&.cvss_8 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px -1280px;
	}

	&.cvss_9 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px -1440px;
	}

	&.cvss_10 .large_score_gauge_wrap .large_score_gague .score_bg {
		background-position: 0px -1600px;
	}



	.score_bar {
		//fix alignment when inside the colored area
		padding: 10px 20px 0px 20px;
		margin-left: -20px;
		margin-right: -20px;

		.score_bar_vector {
			right: 10px;
			top: 13px;
		}
	}
}

//avdcve_scores_cvss



.avdcve_scores_additional {

	//border-bottom-right-radius: 4px;
	//border-bottom-left-radius: 4px;

}

//avdcve_scores_additional


.score_bar {
	//height: 20px;
	position: relative;
	padding: 15px 20px;
	border-top: 1px solid $border;



	.score_bar_name {
		display: inline-block;
		position: relative;
		width: 30%;
		font-size: 0.875rem;
		font-weight: $weight-bold;
		vertical-align: top;
	}

	.score_bar_image {
		display: inline-block;
		position: relative;
		width: 89px;
		height: 19px;
		background-repeat: no-repeat;
		background-position: 0px 0px;
		background-image: url('../images/score_bar_sprite.png');
		margin-right: 10px;
		margin-bottom: -5px;
	}

	.score_bar_label {
		display: inline-block;
		position: relative;
		//width: 30%;
		font-size: 0.875rem;
		font-weight: $weight-bold;
	}

	.score_bar_vector {
		display: block;
		position: absolute;
		right: 10px;
		top: 18px;
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-position: 0px 0px;
		background-image: url('../images/icon_hint.png');
		overflow: hidden;
		text-indent: -9999px;

		&.with_tooltip {
			cursor: pointer;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}
		}

		//with_tooltip

		&.without_tooltip {
			opacity: 0.15;
		}
	}

	&.score_bar_0 .score_bar_image {
		background-position: 0px 0px;
	}

	&.score_bar_1 .score_bar_image {
		background-position: 0px -20px;
	}

	&.score_bar_2 .score_bar_image {
		background-position: 0px -40px;
	}

	&.score_bar_3 .score_bar_image {
		background-position: 0px -60px;
	}

	&.score_bar_4 .score_bar_image {
		background-position: 0px -80px;
	}

	&.score_bar_5 .score_bar_image {
		background-position: 0px -100px;
	}

	&.score_bar_6 .score_bar_image {
		background-position: 0px -120px;
	}

	&.score_bar_7 .score_bar_image {
		background-position: 0px -140px;
	}

	&.score_bar_8 .score_bar_image {
		background-position: 0px -160px;
	}

	&.score_bar_9 .score_bar_image {
		background-position: 0px -180px;
	}

	&.score_bar_10 .score_bar_image {
		background-position: 0px -200px;
	}

}

//score_bar