<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	{{ "<!--Favicon-->" | safeHTML }}
	<link rel="icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" />
	<link rel="icon" type="image/png" href="{{ "favicon_192x192.png" | relURL }}" sizes="192x192" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon-180x180.png" | relURL }}" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	{{ .Scratch.Set "seo_title" "Aqua Security" }}
	{{ .Scratch.Set "seo_description" "" }}

	{{ if .IsHome }}
		{{ .Scratch.Set "seo_title" "Vulnerability Database | Aqua Security" }}
		{{ .Scratch.Set "seo_description" "Detailed information and remediation guidance for vulnerabilities and weaknesses published by NVD, software vendor advisories, and analysis of container images." }}

	{{ else if eq "nvd_page" .Params.avd_page_type }}

		{{ .Scratch.Set "seo_title" .Title | safeHTML }}
		{{ .Scratch.Add "seo_title" " | Vulnerability Database | Aqua Security" }}

		{{ .Scratch.Set "seo_description" .Title | safeHTML }}
		{{ .Scratch.Add "seo_description" " " }}
		{{ .Scratch.Add "seo_description" (.Params.header_subtitle | safeHTML | truncate 150) }}

	{{ else if eq "kube-hunter_page" .Params.avd_page_type }}

		{{ .Scratch.Set "seo_title" .Title | safeHTML }}
		{{ .Scratch.Add "seo_title" " | Vulnerability Database | Aqua Security" }}

	{{ else if eq "appshield_page" .Params.avd_page_type }}

		{{ .Scratch.Set "seo_title" .Title | safeHTML }}
		{{ .Scratch.Add "seo_title" " | Vulnerability Database | Aqua Security" }}	

	{{ else if eq "cloudsploit_page" .Params.avd_page_type }}

		{{ .Scratch.Set "seo_title" .Title | safeHTML }}
		{{ .Scratch.Add "seo_title" " | Vulnerability Database | Aqua Security" }}

	{{ else if eq "tracee_page" .Params.avd_page_type }}

		{{ .Scratch.Set "seo_title" .Title | safeHTML }}
		{{ .Scratch.Add "seo_title" " | Vulnerability Database | Aqua Security" }}

	{{ else }}

	{{ end }}
	
	<title>{{ .Scratch.Get "seo_title" }}</title>
	<meta name="description" content="{{ .Scratch.Get "seo_description" }}" />

	<meta property="og:title" content="{{ .Scratch.Get "seo_title" }}"/>
	<meta property="og:site_name" content="Aqua Vulnerability Database"/>
	<meta property="og:description" content="{{ .Scratch.Get "seo_description" }}"/>

	<link rel="stylesheet" href="{{ "css/avdblank.min.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	<script type='text/javascript' src='{{ "js/avdblank.js" | relURL }}'></script>
</head>
<body>

	{{ partial "header" . }}

	{{ if .IsHome }}
		{{ partial "home.html" . }}		
	{{ else }}
		{{ block "main" . }}{{ end }}
	{{ end }}
	
	{{ partial "footer" . }}


</body>

<script src="{{ .Site.BaseURL }}js/fastsearch.js"></script>
<script src="{{ .Site.BaseURL }}js/meilisearch.js"></script>

<script>
	function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("content-tab");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " is-active";
}
</script>
</html>