<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" />
	<link rel="icon" type="image/png" href="{{ "favicon_192x192.png" | relURL }}" sizes="192x192" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon-180x180.png" | relURL }}" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="{{ "css/avdblank.css" | relURL }}">
	<script type='text/javascript' src='{{ "js/avdblank.js" | relURL }}'></script>
</head>
<body>

	{{ partial "header" . }}

	{{ if .IsHome }}
		{{ partial "home.html" . }}		
	{{ else }}
		{{ block "main" . }}{{ end }}
	{{ end }}
	
	{{ partial "footer" . }}


</body>

<script src="{{ .Site.BaseURL }}js/fastsearch.js"></script>
<script src="{{ .Site.BaseURL }}js/meilisearch.js"></script>
</html>