{{ "<!-- banner -->" | safeHTML }}
<div class="container section">
	<div class="row">
		<div class="col-lg-8 text-center mx-auto">
			<h1 class="text-white mb-3">{{ .Site.Params.banner.title }}</h1>
			<p class="text-white mb-4">{{ .Site.Params.banner.subtitle }}</p>
			<div id="fastSearch" class="position-relative">
				<i class="ti-search search-icon"></i>
				<input id="searchInput" class="form-control" placeholder="{{ .Site.Params.banner.placeholder }}" tabindex="0">
				<ul id="searchResults"></ul>
			</div>
			<script src="{{ .Site.BaseURL }}js/fastsearch.js"></script>
			<script src="{{ .Site.BaseURL }}js/meilisearch.js"></script>
		</div>
</div>
{{ "<!-- /banner -->" | safeHTML }}