{{ "<!-- details page -->" | safeHTML }}
<section class="single section-sm pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="p-lg-5 p-4 bg-white">
          <h2 class="mb-5">{{ .Title }}</h2>
          {{ if .Content }}
          <div class="content">{{.Content}}</div>
          {{ end }}
          <p class="post-meta border-bottom pb-3 mb-0 mt-3">Updated on {{ .Lastmod.Format "02 Jan 2006" }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /details page -->" | safeHTML }}
