

<div class="section projects_wrap animatable">
	<div class="clearboth container">
		<h3 class="title projects_title fadeInUp animationDelay_5">Featured CVEs</h3>
		
		<div class="columns is-multiline">

			<div class="column is-12-desktop is-6-tablet">
				<div class="project_item fadeInUp animationDelay_6">
					<h2 class="project_title"><a href="#" target="_blank" class="">CVE-2021-1234</a></h2>
					<div class="project_subtitle">The SolarWinds Orion API is vulnerable to an authentication bypass that could 
						allow a remote attacker to execute API commands. This vulnerability could allow
						 a remote attacker to bypass authentication and execute API commands which may result in 
						a compromise of the SolarWinds instance. SolarWinds Orion Platform versions 2019.4 HF 5, 
						2020.2 with no hotfix installed, and 2020.2 HF 1 are affected.</div>

						<div class="buttons">
							<a href="#" class="button is-small">RedHat</a>
							<a href="#" class="button is-small">Alpine</a>
							<a href="#" class="button is-small">Ubuntu</a>
						</div>
				</div>
			</div>

			
			<div class="column is-12-desktop is-6-tablet">
				<div class="project_item fadeInUp animationDelay_6">
					<h2 class="project_title"><a href="#" target="_blank" class="">CVE-2021-1234</a></h2>
					<div class="project_subtitle">An elevation of privilege vulnerability exists when an attacker establishes a vulnerable Netlogon 
						secure channel connection to a domain controller, using the Netlogon Remote Protocol (MS-NRPC), 
						aka 'Netlogon Elevation of Privilege Vulnerability'.</div>

						<div class="buttons">
							<a href="#" class="button is-small">RedHat</a>
							<a href="#" class="button is-small">Alpine</a>
						</div>
				</div>
			</div>

			
			<div class="column is-12-desktop is-6-tablet">
				<div class="project_item fadeInUp animationDelay_6">
					<h2 class="project_title"><a href="#" target="_blank" class="">CVE-2021-1234</a></h2>
					<div class="project_subtitle">An elevation of privilege vulnerability exists when an attacker establishes a vulnerable Netlogon 
						secure channel connection to a domain controller, using the Netlogon Remote Protocol (MS-NRPC), 
						aka 'Netlogon Elevation of Privilege Vulnerability'.
						</div>

						<div class="buttons">
							<a href="#" class="button is-small">RedHat</a>
							<a href="#" class="button is-small">Alpine</a>
						</div>
				</div>
			</div>

		</div><!-- columns -->

	</div><!-- container -->

</div><!-- projects_wrap -->