<!-- footer_cta starts -->
<div class="avd_footer_cta_wrap animatable">
	<div class="section">
		<div class="container">

			<div class="columns is-centered is-vcen*tered">

				<div class="column is-12 footer_cta">
						<div class="subtitle footer_cta_pretitle fadeInUp">Aqua SaaS Plans</div>
						<div class="title footer_cta_title fadeInUp animationDelay_2">The fastest track to get started with Aqua</div>
						<a href="https://cloud.aquasec.com/signup" target="_blank" class="button is-info footer_cta_button fadeInUp animationDelay_3">Start Now</a>
				</div><!-- footer_cta -->

			</div><!-- columns -->


		</div><!-- container -->

	</div><!-- section -->
</div><!-- footer_cta_wrap -->	
<!-- footer_cta ends -->

<!-- avd_footer starts -->
<section class="avd_footer_wrap animatable">
	<div class="section">
		<div class="container">
			<div class="columns is-multiline">
	
				<div class="column is-7 fadeInUp animationDelay_2">
					<a class="footer_logo" href="https://www.aquasec.com" title="Aqua Container Security" target="_blank">Aqua Container Security</a>
					<div class="footer_blurb">Aqua Security is the largest pure-play cloud native security company, providing customers the freedom to innovate and run their businesses with minimal friction. The Aqua Cloud Native Security Platform provides prevention, detection, and response automation across the entire application lifecycle to secure the build, secure cloud infrastructure and secure running workloads wherever they are deployed.</div>
					<div class="footer_copyright">Copyright &copy; {{ now.Year }} Aqua Security Software Ltd. &nbsp; <a href="https://www.aquasec.com/privacy/" target="_blank">Privacy Policy</a> | <a href="https://www.aquasec.com/terms-of-use/" target="_blank">Terms of Use</a></div>
					
				</div>

				<div class="column is-5 social_links_column fadeInUp animationDelay_3">
					<div class="social_links_wrap">
						<a href="https://www.facebook.com/AquaSecTeam" class="social_link facebook" target="_blank" title="facebook"></a>
						<a href="https://twitter.com/AquaSecTeam" class="social_link twitter" target="_blank" title="twitter"></a>
						<a href="https://www.linkedin.com/company/aquasecteam" class="social_link linkedin" target="_blank" title="linkedin"></a>
						<a href="https://www.youtube.com/channel/UCLstqAtOx2t0xy8YaYMjkWg" class="social_link youtube" target="_blank" title="youtube"></a>
						<a href="https://github.com/aquasecurity" class="social_link git" target="_blank" title="git"></a>
					</div>
				</div>
			
			</div><!-- columns -->

		</div><!-- container -->
	</div><!-- section -->
</section><!-- avd_footer_wrap -->