<div>
    <div class="clearboth container main-menu">
        <div class="dropdown">
            <span class="dropbtn {{ if eq .context.Params.sidebar_category "misconfig" }}active{{ end }}"><a href="/misconfig">Misconfiguration</a></span>
          </div>
          <div class="dropdown">
            <span class="dropbtn {{ if eq .context.Params.sidebar_category "runsec" }}active{{ end }}"><a href="/tracee">Runtime Security</a></span>
          </div>
          <div class="dropdown">
            <span class="dropbtn {{ if eq .context.Params.sidebar_category "vulnerabilities" }}active{{ end }}"><a href="/nvd">Vulnerabilities</a></span>
          </div>
    </div>
</div>