<div>
  <div class="clearboth container main-menu">
    <div class="dropdown">
      <a href="/misconfig"><span class="dropbtn {{ if eq .context.Params.category "misconfig" }}active{{ end
          }}">Misconfiguration</span></a>
    </div>
    <div class="dropdown">
      <a href="/tracee"><span class="dropbtn {{ if eq .context.Params.category "runsec" }}active{{ end }}">Runtime
        Security</span></a>
    </div>
    <div class="dropdown">
      <a href="/nvd"><span class="dropbtn {{ if eq .context.Params.category "vulnerabilities" }}active{{ end
          }}">Vulnerabilities</span></a>
    </div>
  </div>
</div>