<!-- hero starts -->
<div class="avd_hero_wrap animatable">
	<div class="hero header_wrap is-primary">
		<!--  is-small -->
		<!-- header starts -->

		<!--<div class="hero-head"></div>-->
		<div class="hero-body">
			<div class="clearboth container">
				<div class="header_title_wrap">
					<div class="page_pretitle with_icon defsec fadeInUp">Infrastucture as Code Misconfiguration</div>
					<h1 class="title page_title is-spaced fadeInUp animationDelay_1">{{ .Title }} <div
							style="float: right;">
							<h2 class="severity-pill {{ .Params.severity }}">
								{{ .Params.severity }}</h2>
						</div>
					</h1>
					<!--<h2 class="subtitle page_subtitle">AVD Hero Subtitle 012</h2>-->
				</div><!-- header_title_wrap -->
			</div><!-- container -->
		</div><!-- hero-body -->



		{{ if or (.Params.date_published) (.Params.date_modified) }}
		<div class="hero-foot">

			<div class="container fadeInUp animationDelay_2">

				{{ if .Params.date_published }}
				<div class="pagetitle_metaitem"><strong>Published:</strong> {{ dateFormat "Jan 02, 2006"
					.Params.date_published }}</div>
				{{ end }}

				{{ if .Params.date_modified }}
				<div class="pagetitle_metaitem"><strong>Modified:</strong> {{ dateFormat "Jan 02, 2006"
					.Params.date_modified }}</div>
				{{ end }}
			</div>
		</div><!-- hero-foot -->
		{{ end }}

	</div><!-- hero -->

</div><!-- hero_wrap -->
<!-- hero ends -->

<!-- content starts -->

<div class="section avdcve_wrap animatable">
	<div class="clearboth container">


		<div class="columns is-multiline rever*se-columns">



			<div class="column is-3-desktop">
				<aside class="side-nav">
					<div id="iac-filter" class="dropdown-check-list" tabindex="100">
						<span class="anchor">Filter:</span>
						<ul class="items">
							<li>
								<dd id="rr-cli">
									<label for="cli">
										<input type="checkbox" value="1" id="cli" name="cli">
										CLI
									</label>
								</dd>
							</li>
							<li>
								<dd id="rr-cloudformation">
									<label for="cloudformation">
										<input type="checkbox" value="1" id="cloudformation" name="cloudformation">
										CloudFormation
									</label>
								</dd>
							</li>
							<li>
								<dd id="rr-management_console">
									<label for="rr-1">
										<input type="checkbox" value="1" id="management_console"
											name="management_console">
										Management Console
									</label>
								</dd>
							</li>
							<li>
								<dd id="rr-terraform">
									<label for="terraform">
										<input type="checkbox" value="1" id="terraform" name="terraform">
										Terraform
									</label>
								</dd>
							</li>
							<li class="apply">
								<a class="type_btn button iac-filter-btn" id="iac-filter-apply">Apply</a>
							</li>
						</ul>

					</div>
					<ul class="iac-treeview">
						{{ $currentPage := . }}
						{{ range .Site.Menus.defsec }}
						{{ if .HasChildren }}
						<details class="{{ delimit .Page.Params.remediations " " }}" {{ if eq $currentPage.Params.provider .Name }}open{{ end }}>
							<summary>{{ .Name }}</summary>
							<ul class="sub-menu">
								{{ range .Children }}
								{{ if .HasChildren }}
								<details class="{{ delimit .Page.Params.remediations " " }}" {{ if eq $currentPage.Params.service .Name }}open{{ end }}>
									<summary>{{ .Name }}</summary>
									<ul class="sub-menu">
										{{ range .Children }}
										<li class="node check {{ if $currentPage.IsMenuCurrent " defsec" . }}active{{ end }} {{ delimit .Page.Params.remediations " " }}">
											<a href="{{ .URL }}">{{ .Name }}</a>
										</li>
										{{ end }}
									</ul>
								</details>
								{{ end }}
								{{ end }}
							</ul>
						</details>
						{{ end }}
						{{ end }}
					</ul>
				</aside>
			</div>

			<div class="column is-9-desktop is-6-tablet is-12-mobile fadeInUp animationDelay_4">


				<div class="vulnerability_content_wrap fadeInUp">

					<!--<h4 class="vulnerability_content_title fadeInUp"></h4>-->
					<div class="content vulnerability_content">
						{{ .Content }}

                        <ul>
                        {{ range .Pages }}
                            <li>
                                <a href="{{.RelPermalink}}">{{.Title}}</a>
                            </li>
                        {{ end }}
                        </ul>
					</div><!-- vulnerability_content -->

				</div><!-- vulnerability_content_wrap -->


			</div><!-- column is-8 -->

		</div><!-- columns -->

	</div><!-- container -->
</div>

<!-- content ends -->
