<!-- hero starts -->
<div class="avd_hero_wrap animatable">
	<div class="hero header_wrap is-primary">
		<!--  is-small -->
		<!-- header starts -->
		<!--<div class="hero-head"></div>-->
		<div class="hero-body">
			<div class="clearboth container">
				<!--- header menu -->
				{{ partial "header_menu.html" (dict "context" . )}}
				<!--- header menu ends -->
				<div class="header_title_wrap">
					<div class="page_pretitle with_icon {{ .Params.icon }} fadeInUp">
						{{ if .Params.breadcrumbs }}
						{{ $page := . }}
						{{ range $breadcrumb := .Params.breadcrumbs }}
						{{ if ne $breadcrumb.name $page.Title }}
						<a href="{{ $breadcrumb.path }}">{{ $breadcrumb.name }}</a> >
						{{ end }}
						{{ end }}
						{{ end }}
					</div>
					<h1 class="title page_title fadeInUp animationDelay_1">{{ .Title }}</h1>
					<!--<h2 class="subtitle page_subtitle">AVD Hero Subtitle 012</h2>-->
				</div><!-- header_title_wrap -->
			</div><!-- container -->
		</div><!-- hero-body -->

		{{ if or (.Params.date_published) (.Params.date_modified) }}
		<div class="hero-foot">

			<div class="container fadeInUp animationDelay_2">

				{{ if .Params.date_published }}
				<div class="pagetitle_metaitem"><strong>Published:</strong> {{ dateFormat "Jan 02, 2006"
					.Params.date_published }}</div>
				{{ end }}

				{{ if .Params.date_modified }}
				<div class="pagetitle_metaitem"><strong>Modified:</strong> {{ dateFormat "Jan 02, 2006"
					.Params.date_modified }}</div>
				{{ end }}
			</div>
		</div><!-- hero-foot -->
		{{ end }}

	</div><!-- hero -->

</div><!-- hero_wrap -->
<!-- hero ends -->

<!-- content starts -->

<div class="section avdcve_wrap animatable">
	<div class="clearboth container page-fill">
		<div class="columns is-multiline rever*se-columns">

			
			{{ if .Params.tiles }}
			{{ range $tile := .Params.tiles }}
			<div class="column is-6-desktop is-6-tablet">
				<a href="{{ $tile.url }}" class="config-item fadeInUp animationDelay_6">
					<h2 class="config-tile {{ $tile.icon }}">{{ $tile.heading }}</h2>
				</a>
			</div>
			{{ end }}
			{{ else }}

			{{ $paginator := .Paginate .Pages }}

			{{ range .Paginator.Pages.ByParam "title" }}
			<div class="column is-6-desktop is-6-tablet">
				<a href="{{ .RelPermalink }}" class="config-item fadeInUp animationDelay_6">
					<h2 class="config-tile {{ .Params.icon }}">{{ .Params.Title }}</h2>
				</a>
			</div>
			{{ end }}
			<div class="paginated">
				{{ if .Paginator.HasPrev }}

				<a href="{{ .Paginator.Prev.URL }}"> &lt;&lt; Prev </a>
				{{ end }}
				{{ if .Paginator.HasNext }}
				<a href="{{ .Paginator.Next.URL }}"> Next &gt;&gt; </a>

				{{ end }}
			</div>
		</div>
		{{ end }}




		<!-- </div> -->
		<!-- column is-9 -->
	</div><!-- columns -->
</div><!-- container -->
<!-- content ends -->