<!-- hero starts -->
<div class="avd_hero_wrap animatable">
	<div class="hero header_wrap is-primary">
		<!-- header starts -->
		
		<div class="hero-body">
			<div class="clearboth container">
				<div class="header_title_wrap">	
					<!--<div class="page_pretitle fadeInUp"><a href="#">Home Hero pre title link</a></div>-->
					<h1 class="title page_title is-spaced fadeInUp animationDelay_1">Search</h1>
					<!--<h2 class="subtitle page_subtitle fadeInUp animationDelay_2">Accumsan arcu et, gravida urna. Vestibulum in convallis leo sed elementum neque sit amet purus vamus feugiat egestas ante duis tincidunt the lastamus apla vulputate</h2>-->
					<div class="fadeInUp fadeInUp animationDelay_2"><input type="text" /></div>
				</div><!-- header_title_wrap -->
			</div><!-- container -->
		</div><!-- hero-body -->

	</div><!-- hero -->

</div><!-- hero_wrap -->
<!-- hero ends -->


<div class="section search_results_wrap animatable">
	<div class="clearboth container">


		<h3 class="title search_results_title fadeInUp animationDelay_3">Title</h3>
		<div class="search_results fadeInUp animationDelay_4">
			search results content
		</div>
		
		

	</div><!-- container -->

</div><!-- projects_wrap -->