
                <div class="avdcve_sidebar_wrap ">
                    <div class="project_item">
                        <h2 class="is-size-4 has-text-weight-medium my-2">start protecting your cloud</h2>
                        <p class="my-2">
                            <a href="#" target="_blank" class="button is-primary are-large is-large is-fullwidth">Start Now</a>
					
                        </p>

                       
                    </div>
                   
                </div>