/* project ctas - used in the homepage and on sidebars */

.info_card {
	display: block;
	position: relative;
	min-height: 220px;
	margin-bottom: 20px;
	border-radius: 4px;
	background: #ebf3fa;
	box-shadow: 9px 9px 11px #c1c7cd, -9px -9px 11px #fff;
	transition: all 0.2s ease;
	background-color: #ffffff;
	max-height: 300px;
}

.info_card_details {
	padding: 30px;
}

.info_card_details_part {
	margin: 10px;
	border-bottom: 1px whitesmoke solid;
	padding-bottom: 10px;
}

.info_card_details_part h2 {
	font-weight: bold;
	padding-bottom: 3px;
}

.project_item {
	display: block;
	position: relative;
	min-height: 220px;
	margin-bottom: 20px;
	border-radius: 4px;
	@include neo_linkbox_subtle_light-bg;
	background-color: #ffffff;
	height: 100%;
	padding: 40px 40px 60px 40px;

	&:hover {
		background-color: #ffffff;
	}

	.project_icon {
		height: 90px;
		width: 90px;
		background-position: center center;
		background-repeat: no-repeat;
		margin-top: 0px;
		margin-bottom: 2px;
		position: relative;
		left: -4px;
	}

	.project_title {
		font-size: 1.75rem;
		line-height: 1.4em;
		font-weight: $weight-bold;
		color: $aq-royal-blue;
		margin-bottom: 10px;
	}

	.project_subtitle {
		font-size: 1.125rem;
		font-weight: $weight-normal;
		padding-bottom: 10px;
		color: $aq-dark-abyss;
	}

	.button.arrowlinkbutton {
		font-size: 1.125rem;
		position: absolute;
		bottom: 30px;
		left: 40px;

		&:after {
			border-color: $aq-legacy-blue;
		}
	}

	&:hover {
		.button.arrowlinkbutton {
			color: $aq-royal-blue;

			&:after {
				border-color: $aq-royal-blue;
				margin-left: 8px;
			}
		}
	}
} //project_item
