.severity-pill {
    border-radius: 8px;
    padding: 6px 10px;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: bold;
}

.severity-pill.critical {
    background-color: red;
}

.severity-pill.high {
    background-color: orangered;
}

.severity-pill.medium {
    background-color: orange;
    color: #fff;
}

.severity-pill.low {
    background-color: #666;
    color: #fff;
}

.sub-menu {
    padding-left: 10px;
    padding-bottom: 4px;
}

.check {
    padding-left: 20px;
    padding-bottom: 4px;
}

.check::before {
    content: " - ";
}

details > summary {
    list-style-type: none;
    outline: none;
    cursor: pointer;
    padding: 2px;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: "+ ";
    font-weight: bold;
    color: #405a75;
    font-family: monospace;
}

details[open] > summary::before {
    content: "- ";
    font-weight: bold;
    font-family: monospace;
}

.dropdown-check-list {
    display: inline-block;
    position: absolute;
    z-index: 1000 !important;
    float: right;
    right: 0;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .anchor {
    color: #0094ff;
}

.dropdown-check-list ul.visible {
    display: block;
}

.dropdown-check-list .apply {
    text-align: right;
}

dd label input {
    margin-right: 3px;
}

dd {
    padding: 10px;
}

.dropdown-check-list {
    float: right;
}
.dropdown-check-list .anchor {
    float: right;
    background: #fff;
}

.dropdown-check-list ul {
    clear: both;
    background: #fff;
}

aside.side-nav {
    position: relative;
}

.dropdown-check-list .iac-filter-btn {
    margin: 10px;
}
