{{ define "main"}}
<!-- hero starts -->
<div class="avd_hero_wrap hero_404 animatable">
	<div class="hero header_wrap">
		<!-- header starts -->
		
		<div class="hero-body">
			<div class="clearboth container">
				<div class="header_title_wrap">	
					<h1 class="title page_title is-spaced fadeInUp">404</h1>
					<h2 class="subtitle page_subtitle is-spaced fadeInUp animationDelay_1">Page not found.</h2>
					<a href="{{ .Site.BaseURL }}" class="button arrowlinkbutton page_cta fadeInUp animationDelay_2">Back to AVD Home</a>
				</div><!-- header_title_wrap -->
			</div><!-- container -->
		</div><!-- hero-body -->

	</div><!-- hero -->

</div><!-- hero_wrap -->
<!-- hero ends -->
{{ end }}